body {

    display: inline-block;      
    width: 48%;                 
    vertical-align: top;        
    margin-right: 2%;           
    padding: 10px;
    background-color: burlywood;
    
}


    
    
    
    img {
      
        width: 100%;              
        max-width: 100%;            
        height: auto;              
        max-height: 400px;          
        object-fit: cover; 
                    



}
h1 {
    color: maroon;
}

body {
    font-family: Arial, sans-serif;
}

.suivez-nous {
    display: flex;
    align-items: center;
}

.suivez-nous span {
    margin-right: 10px; /* Espacement entre le texte et les ic么nes */
}

.social-icon img {
    width: 30px; /* Taille des ic么nes */
    height: 30px; /* Taille des ic么nes */
    margin-left: 5px; /* Espacement entre les ic么nes */
    transition: transform 0.3s; /* Animation lors du survol */
}

.social-icon img:hover {
    transform: scale(1.1); /* Agrandissement lors du survol */

}
    

    body {
        font-family: Arial, sans-serif;
    }
    
    .partenaires {
        display: flex; /* Utilise Flexbox pour l'alignement */
        align-items: center; /* Aligne verticalement le logo et le texte */
    }
    
    .logo {
        width: 30px; /* Ajustez la taille du logo */
        height: 30px; /* Maintient le ratio d'aspect */
        margin-right: 10px; /* Espace entre le logo et le texte */
        
        
    
    }

    