body {

    display: inline-block;      
    width: 48%;                 
    vertical-align: top;        
    margin-right: 2%;           
    padding: 10px;
    background-color: burlywood;
    
}


.logo h1 {
    font-family: 'Arial', sans-serif; /* Police */
    font-size: 50px; /* Taille de la police */
    color:brown; /* Couleur du texte */
    text-transform: uppercase; /* Transforme le texte en majuscules */
    letter-spacing: 5px; /* Espacement entre les lettres */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ombre du texte */
    transition: transform 0.3s; /* Transition pour l'effet au survol */
    margin-bottom: 40px; 
}






    
    
    
    img {
      
        width: 100%;              
        max-width: 100%;            
        height: auto;              
        max-height: 400px;          
        object-fit: cover; 
                    



}
h1 {
    color: maroon;
}

body {
    font-family: Arial, sans-serif;
}

.suivez-nous {
    display: flex;
    align-items: center;
}

.suivez-nous span {
    margin-right: 10px; /* Espacement entre le texte et les icônes */
}

.social-icon img {
    width: 30px; /* Taille des icônes */
    height: 30px; /* Taille des icônes */
    margin-left: 5px; /* Espacement entre les icônes */
    transition: transform 0.3s; /* Animation lors du survol */
}

.social-icon img:hover {
    transform: scale(1.1); /* Agrandissement lors du survol */

}
    

    body {
        font-family: Arial, sans-serif;
    }
    
    .partenaires {
        display: flex; /* Utilise Flexbox pour l'alignement */
        align-items: center; /* Aligne verticalement le logo et le texte */
    }
    
    .logo {
        width: 30px; /* Ajustez la taille du logo */
        height: 30px; /* Maintient le ratio d'aspect */
        margin-right: 10px; /* Espace entre le logo et le texte */
        
        
    

    }


    
    .logo {
        font-family: 'Brush Script MT', cursive; /* Police manuscrite */
        font-size: 5rem; /* Taille de police */
        color: maroon; /* Couleur du texte */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre du texte */
        letter-spacing: 2px; /* Espacement entre les lettres */
        transition: transform 0.3s; /* Transition pour l'effet au survol */
    }

   
    
    h1 {
        margin-right: 20px; /* Espace horizontal entre le texte et l'image */
    }
    
    .image {
        margin-left: 20px; /* Espace horizontal entre l'image et le texte */
    }
    
    .title {
        padding-bottom: 30px; /* Ajoute un espace en bas du h1 */
    }
    
    .image {
        padding-top: 30px; /* Ajoute un espace en haut de l'image (optionnel) */
    }